$primary: #0587be; // WILDLABS blue
$link: #ec7823; // WILDLABS orange
$info: #5b985c; // WILDLABS green

@import "theme/_main";

// You can add additional styling here

// Site-wide styling
.floatingHero {
  background-color: $primary;

  .feature-title:after {
    border-bottom: .4rem solid $primary;
    content: "";
    height: 100%;
    left: calc(50% - 4.25rem);
    position: absolute;
    top: 1rem;
    width: 8.5rem;
  }
}

// Homepage
.home {
  .statistic {
    .feature-title {
      font-size: 2.4rem;
      font-weight: 900;
      margin-bottom: 0.5rem;
      a {
        color: $link;
      }
    }
    .feature-description {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}
