$primary: #0587be; // WILDLABS blue
$link: #ec7823; // WILDLABS orange
$info: #5b985c; // WILDLABS green

@import "theme/_main";

// You can add additional styling here
@import "_example"; // either as inline css or as a separate file as in this case